@import "../../styles/utils/variables";

.big-article__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-article__header {
  margin: 0;
  margin-top: 40px;
  max-width: 460px;

  text-align: center;
}

.big-article__description {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 400px;

  text-align: center;

  font-family: "SF Mono", sans-serif;
}

.big-article__separator {
  width: 450px;
  height: 2px;
  
  background-color: $black;
}
