@import "../../styles/utils/variables";

.header {
  box-shadow: 0px 1px 0px rgba($black, 0.16);
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 127px;
}

.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

  list-style: none;
}

.header__link {
  font-family: 'New York Small', serif;
  font-size: 20px;
  line-height: 1.7;
  text-transform: uppercase;

  color: $black;
}

.header__item:not(:last-child) {
  margin-right: 31px;
}

.header__link--active {
  padding: 50px 0;
  border-bottom: 2px solid $black;
}