@import "../../styles/utils/variables";

.header {
  box-shadow: 0px 1px 0px rgba($black, 0.16);
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}