@import "../../../styles/utils/variables";

.nav-bar__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

  list-style: none;
}

.nav-bar__link {
  font-family: 'New York Small', serif;
  font-size: 20px;
  line-height: 1.7;
  text-transform: uppercase;

  color: $black;
}

.nav-bar__item:not(:last-child) {
  margin-right: 30px;
}

.nav-bar__link--active {
  padding: 26px 0;
  border-bottom: 2px solid $black;
}