@font-face {
  font-family: "New York";
  src: url("../../assets/fonts/NewYorkSmallBlack.woff") format("woff");
}

@font-face {
  font-family: "New York Small";
  src: url("../../assets/fonts/NewYorkSmallMedium.woff") format("woff");
}

@font-face {
  font-family: "New York Regular";
  src: url("../../assets/fonts/NewYorkSmallRegular.woff") format("woff");
}

@font-face {
  font-family: "SF Mono";
  src: url("../../assets/fonts/SFMonoRegular.woff") format("woff");
}
