@font-face {
  font-family: "New York";
  src: url("../../fonts/NewYorkSmallBlack.woff") format("woff");
}

@font-face {
  font-family: "New York Small";
  src: url("../../fonts/NewYorkSmallMedium.woff") format("woff");
}

@font-face {
  font-family: "New York Regular";
  src: url("../../fonts/NewYorkSmallRegular.woff") format("woff");
}

@font-face {
  font-family: "SF Mono";
  src: url("../../fonts/SFMonoRegular.woff") format("woff");
}
